*{  /*aplica a todo el HTML*/
    margin:0; 
    padding:0; 
}

/** Defincion  SECCIONES Y ETIQUETAS **/
/*-----------------------------------*/

body{
    background-image: url("/assets/Galeria_con_hamaca_transp_75.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-family:Tahoma;
    margin:1%; 
    padding:1%;
}

h1{
    text-align: center;
}


header{
    background-color: burlywood; 
    color: antiquewhite;
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    text-align: center;
}

main{
    color: lightcoral;
    overflow: hidden;

}

h2{
    color: white;
    background-color: transparent;
    border-radius: 5px; 
    font-family:Tahoma;
    text-align: center;
}

h3{
    color: rgb(168, 70, 70);
    text-align: center;
    font-family: sans-serif;
}

h4 {
    color: rgb(168, 70, 70);
    text-align: center;
    font-family: sans-serif;
}

footer{
    background-color: burlywood; 
    color:  antiquewhite;
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    font-family:Tahoma;
    text-align: center;
    position: sticky ; 
    left: 10px;
    bottom: 10px; 
    margin-top:0;
}


/** Defincion  CLASES **/
/*--------------------*/

.nav {
    background-color: lightcoral; 
    color: antiquewhite;
    text-decoration: none; /**con esto elimino el subrayado de los link q coloca x default**/
    padding: 5px; /**le amplio la zona sombreada sobre el boton del link**/
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    font-size:1.25vw; 
    margin:0.3%; 
}


.box-top {
    background-color: white;
    border: 4px outset rgb(223, 35, 98);
    border-radius: 20%;
    padding: 2%;
    height: 50%;
    width: 55%;
    margin: 2% auto;
    font-family: Calibri;
    font-size:large;
    animation: zoomIn;
    animation-iteration-count: four;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-delay: 5s;
}

.box-top ul{
    font-style: oblique;
    color: rgb(165, 96, 43);
}

.box-top li {
    font-style: normal;
    color:  rgb(224, 76, 125);
}

.box-top p{
    font-style: oblique;
    color: rgb(165, 96, 43);
    text-align: center;
}



.box-top-pie {
    text-decoration-line: underline;
}

.box-bottom {
    background-color:  antiquewhite;
    border: 4px outset rgb(223, 35, 98);
    color:  rgb(135, 21, 61);
    /* border-radius: 5%; */
    padding: 2%;
    height: 50%;
    width: 75%;
    margin: 2% auto;
    font-family: Calibri;
}

.box-bottom-address{
    background-color: white;
    border: 4px outset palevioletred;
    border-radius: 20%;
    padding: 1%;
    height: 25%;
    width: 55%;
    margin: 1% auto;
    font-family: Calibri;
    text-align: center;
    /* font-size:large; */
}

.redsoc{
    color: lightcoral;
    font-size:1.25vw; 
    text-align:center;
    text-decoration: none;
}

.redsoc a{
    color: lightcoral; /* es el color del icono*/
    text-decoration: none;
    margin: 0px 6px; /*es el espacio entre los iconos*/
    font-size:2vw; /*es como el 20% del tamano del icono*/
}

.redsoc p{
    color: lightcoral; /* es el color del icono*/
    margin: 0px 6px; /*es el espacio entre los iconos*/
    font-size:2vw; /*es como el 20% del tamano del icono*/
}

.redsoc a:hover 
{color: whitesmoke; }

.container-fotos {
    
}

.fotos {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.foto-1, 
.foto-2,
.foto-3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.f2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.f3 {

}