*{  /*aplica a todo el HTML*/
 
    box-sizing: border-box;
    margin:0; 
    padding:0; 
}

.btn-px {
    font-size: 80px;
}

.btn-rem {
    font-size: 5rem /* 5*16px fuente base =80px*/;
    padding: .5em;
    margin: .25em;    
}



/** Defincion  SECCIONES Y ETIQUETAS **/
/*-----------------------------------*/

body{
    background-image: url("/assets/Galeria_con_hamaca_transp_75.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    font-family:Tahoma;
    font-size: 1.20rem;
    /* min-height: 100%; */

    /* margin:1%;  */
    /* margin: 20px auto;
    width: 95%;
    max-width: 1000px;
    padding:1%; */
}

.project {
    background-image: none;
    background-color: rgb(203, 179, 179);
}

h1{
    text-align: center;
    font-size: 1.5em;
}

/** INDEX.HTML*/
header{
    background-color: #d4b691;
    /* background-color: burlywood;  */
    color: antiquewhite;
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    text-align: center;
}

main{
    color: lightcoral;
    overflow: hidden;

}

h2{
    color: white;
    background-color: transparent;
    border-radius: 5px; 
    font-family:Tahoma;
    text-align: center;
    font-size: 1.25em;
}

h3{
    color: rgb(168, 70, 70);
    text-align: center;
    font-family: sans-serif;
}

h4 {
    color: rgb(168, 70, 70);
    text-align: center;
    font-family: sans-serif;
}

footer{
    /* background-color: burlywood;  */
    background-color: #d4b691;
    color:  antiquewhite;
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    font-family:Tahoma;
    text-align: center;
    position: sticky ; 
    left: 10px;
    bottom: 10px; 
    margin-top:0;
}


/** Defincion  CLASES **/
/*--------------------*/

.nav {
    background-color: lightcoral; 
    color: antiquewhite;
    text-decoration: none; /**con esto elimino el subrayado de los link q coloca x default**/
    padding: 5px; /**le amplio la zona sombreada sobre el boton del link**/
    border-radius: 5px; /**redondeo los bordes del sombreado**/
    font: size 20px;; 
    margin:0.3%; 
    
}

.nav:hover {
    background-color: rosybrown; 
}

.box-top {
    background-color: papayawhip;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    /* border: 4px outset burlywood; */
    border-radius: 5%;
    padding: 30px;
    height: 50%;
    width: 55%;
    margin: 2% auto;
    font-family: Calibri;
    font-size:large;
    animation: zoomIn;
    /* animation-iteration-count: four; */
    animation-direction: alternate;
    /* animation-duration: 10s; */
    animation-delay: 5s;
    animation-duration: 4s;
    animation-iteration-count: 3;
    display: block;
}

.box-top ul{
    font-style: oblique;
    color: rgb(165, 96, 43);
}

.box-top li {
    font-style: normal;
    color:  rgb(224, 76, 125);
}

.box-top p{
    font-style: oblique;
    color: rgb(165, 96, 43);
    text-align: center;
}



.box-top-pie {
    text-decoration-line: underline;
    text-align: center;
}


.box-bottom {
    background-color:  rgb(218, 210, 201);
    /* border: 4px outset  burlywood; */
    color:  rgb(135, 21, 61);
    /* border-radius: 5%; */
    padding: 2%;
    height: 50%;
    width: 75%;
    margin: 2% auto;
    font-family: Calibri;
    text-align: center;
}


.info-personal legend{
    text-decoration-line: underline;
    color:  rgb(224, 76, 125)
}


.box-bottom-address{
    background-color: papayawhip;
    /* border: 4px outset  burlywood; */
    border-radius: 20%;
    padding: 1%;
    height: 25%;
    width: 55%;
    margin: 1% auto;
    font-family: Calibri;
    text-align: center;
    /* font-size:large; */
}

.box-bottom-address h3{
    font-family: Tahoma;
    font-style: oblique;
}

.box-bottom-address h4{
    font-family: Tahoma;
    font-style: oblique;
}

.box-bottom-address h4 a{
    font-family: Tahoma;
}


.boton {
    background-color: white;
    font-family: Calibri;
    color:  rgb(192, 35, 88);
    border-radius: 20%;
    padding: 0.5%;
    
}


.redsoc{
    color: lightcoral;
    font: size 20px;; 
    text-align:center;
    text-decoration: none;
}

.redsoc a{
    color: lightcoral; /* es el color del icono*/
    text-decoration: none;
    margin: 0px 6px; /*es el espacio entre los iconos*/
    font-size:2vw; /*es como el 20% del tamano del icono*/
}

.redsoc p{
    color: lightcoral; /* es el color del icono*/
    margin: 0px 6px; /*es el espacio entre los iconos*/
    font-size:2vw; /*es como el 20% del tamano del icono*/
}

.redsoc a:hover 
{color: whitesmoke; }

/*
.foto-container {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 10px; /*espaciado entre cada una de las columnas*/
    /* align-content: center; 
    padding: 20px;
}

.foto-item {
    position: relative;
}

.foto-imagen {
    width: 100%;
    height: 100%;  /*abarcara el 100% del espacio de la grilla
    object-fit: cover;  /*para que no distorcione la imagen ponemos 100%
}

.foto-titulo {
    position: absolute;
    bottom: 0;
    color: rgb(193, 144, 81);
    background: linear-gradient(white, wheat);
    width: 100%;
    margin: 0;
}

.foto-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.foto-item:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.foto-item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.foto-item:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.foto-item:nth-child(5) {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
}

.foto-item:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}

.foto-item:nth-child(7) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}

.foto-item:nth-child(8) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

.foto-item:nth-child(9) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 7;
}

.foto-item:nth-child(10) {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
}

.foto-item:nth-child(11) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 11;
}

.foto-item:nth-child(12) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 11;
}

.foto-item:nth-child(13) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
}

.foto-item:nth-child(14) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 11;
}

.foto-item:nth-child(15) {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 11;
}

*/

.foto-item > img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.foto-item:hover {
    filter: opacity(0.5);
    transform: scale(1.04);
    cursor: pointer;
}

.foto-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 40px;
    padding: 20px;
    grid-auto-flow: dense;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.foto-titulo {
    color: rgb(193, 144, 81);
    background: linear-gradient(white, wheat);
}



/*LAYOUT CELULAR         */
/*************************/

.box-top {
        width: 80%;
    }
    .box-top > ul > li{
        width: 100%;
        text-align: left;
        /* margin: 5% 5%; */
        /* display: flex; */
    }
    .box-top-pie {
        /* width: 80%; */
        text-align: center;
        /* margin-left: 30px; */
    }

    .box-bottom {
        width: 80%;
    }
   
    form > .info-personal {
        display: grid;
    }
    

    .contenedor {
        /* background-color: rgb(229, 207, 198); */
        /* background-color:  beige; */
        background-color: #e3d5ca;
        color: rgb(124, 117, 117);
        font-family: 'Roboto', sans-serif;  
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 10px;
        margin: auto;
        gap: 10px;     /*aqui el ancho de la columna se ajusta automat. asiq solo definimos size row*/

    }


    .contenedor > div {
        /* background-color: rgba(255, 255, 255, 0.8); */
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
      }
    

    .caja-uno {
        grid-area: 1 / 1 / span 1 / span 1;
        /* grid-area: caja-uno; */
        /* background-color:rgb(249, 232, 232); */
        background-color: #e3d5ca;
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-dos {
        /* grid-area: caja-dos; */
        grid-area: 2 / 1 / span 1 / span 1;
        background-color:rgb(243, 233, 216);
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-tres{
        grid-area: 3 / 1 / span 1 / span 1;
        /* grid-area: caja-tres; */
        /* background-color:rgb(234, 219, 192); */
        background-color: #e3d5ca;
        border-radius: 50px;
        padding: 1rem;
    }
    
    .caja-cuatro{
        grid-area: 4 / 1 / span 1 / span 1;
        /* grid-area: caja-cuatro; */
        /* background-color:rgb(244, 216, 216); */
        background-color:rgb(243, 233, 216);
        border-radius: 50px;
        padding: 1rem;
    }
    
    .caja-cinco{
        grid-area: 5 / 1 / span 1 / span 1;
        /* grid-area: caja-cinco; */
        /* color: whitesmoke; */
        /* background-color: rgb(203, 179, 179); */
        background-color: #e3d5ca;
        /* display: flex; */
        border-radius: 50px;
        padding: 1rem;
        /* flex-wrap: wrap;
        justify-content: space-around; */
        }

    .caja-banner {
        display: none;
    }

    
    .titulo {
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0;
        text-align: center;
        color: rgb(180, 52, 52);
    
    }
    
    .texto {
        text-align: center;
    }
    
    
    .caja-banner p {
        color: rgb(160, 102, 102);
        font-family: sans-serif;
        font-size:relative; 
        flex-wrap: wrap;
               
    }
    
    .caja-banner ul {
        list-style: none;
        
    }
    
    .caja-banner ul li {
        margin: 4%; 
        margin: 15px; 
        font-weight: bold;
        display: block;
    }
    
    .caja-banner .boton {
        background-color: blanchedalmond;
        border:white solid; 
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        padding: 10px; 
        border: none;
        border-radius: 100px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
    }

/* LAYOUT TABLET     */
/********************/

@media (min-width: 700px) {
    html {
        font-size: 100%;
    }
    .box-top {
        width: 80%;
    }
    .box-top > ul > li{
        width: 100%;
        text-align: left;
    }

    
    .contenedor {
        /* background-color: rgb(229, 207, 198); */
        /* background-color:  pink; */
        background-color: #f4f1ee;
        color: rgb(124, 117, 117);
        font-family: 'Roboto', sans-serif;  
        width: 90%;

        display: grid;
        grid-template-columns: auto auto 150px;
        grid-gap: 10px;
        padding: 10px;
        margin: auto;
        gap: 10px;     /*aqui el ancho de la columna se ajusta automat. asiq solo definimos size row*/
    }


    .contenedor > div {
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
      }
    

    .caja-uno {
        grid-area: 1 / 1 / span 1 / span 1;
        /* width:45%; */
        /* background-color:rgb(249, 232, 232); */
        background-color: #e4dcd7;
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-dos {
        grid-area: 1 / 2 / span 1 / span 1;
        /* width:45%; */
        background-color:rgb(243, 233, 216);
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-tres{
        grid-area: 2 / 1 / span 1 / span 1;
        background-color:rgb(234, 219, 192);
        /* width:45%; */
        border-radius: 50px;
        padding: 1rem;
    }
    
    .caja-cuatro{
        grid-area: 2 / 2 / span 1 / span 1;
        /* background-color:rgb(244, 216, 216); */
        background-color: #e3d5ca;
        /* width:45%; */
        border-radius: 50px;
        padding: 1rem;
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* justify-content: space-around; */
    }
    
    .caja-cinco{
        grid-area: 3 / 1 / span 1 / span 2;
        /* width: 90%; */
        /* background-color: rgb(203, 179, 179); */
        background-color: #e7decd;
        /* display: flex; */
        border-radius: 50px;
        padding: 1rem;
        /* flex-wrap: wrap;
        justify-content: space-around; */
    }
    .caja-banner {
        grid-area: 1 / 3 / span 3 / span 1;
        /* border:rgb(211, 22, 22) solid; */
        /* background-color: rgb(232, 217, 217); */
        background-color: #efede6;
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* background-size: cover; */
        /* background-position: center center; */
        /* font-size: 1.1rem; */
        display: block;
    }  
}


/* LAYOUT DESKTOP          */
/***************************/

@media (min-width: 900px) {
    html {
        font-size: 100%;
    }

    .box-top {
        width: 80%;
        flex-wrap: wrap;
    }
    .box-top > ul > li{
        width: 100%;
        text-align: center;
        list-style: none;
    }
    /* .box-top {
        width: 80%;
        flex-wrap: wrap;

    }
    .box-top > ul {
        width: 80%;
        padding-left: 70px;
    } */
    

    .contenedor {
        background-color: whitesmoke;
        color: rgb(124, 117, 117);
        font-family: 'Roboto', sans-serif;  
        width: 80%;
        display: grid;
        grid-template-columns: auto auto 200px;
        grid-gap: 5px;
        padding: 20px;
        margin: auto;
        gap: 20px;     /*aqui el ancho de la columna se ajusta automat. asiq solo definimos size row*/

    }

    .contenedor > div {
        text-align: center;
        padding: 10px 5px;
        font-size: 20px;
      }
    
    .caja-uno {
        grid-area: 1 / 1 / span 1 / span 1;
        /* background-color:rgb(249, 232, 232); */
        background-color:rgb(245, 236, 221);
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-dos {
        grid-area: 1 / 2 / span 1 / span 1;
        /* width:45%; */
        background-color:rgb(230, 223, 211);
        border-radius: 50px;
        padding: 1rem;
        gap: 10px;
    }
    
    .caja-tres{
        grid-area: 2 / 1 / span 1 / span 1;
        /* width:45%; */
        background-color:rgb(242, 224, 192);
        border-radius: 50px;
        padding: 1rem;
    }
    
    .caja-cuatro{
        grid-area: 2 / 2 / span 1 / span 1;
        background-color:rgb(234, 219, 192);
        border-radius: 50px;
        padding: 1rem;
    }
    
    .caja-cinco{
        grid-area: 3 / 1 / span 1 / span 2;
        /* background-color: rgb(210, 194, 169); */
        background-color: #f5ebe0;
        /* display: flex; */
        border-radius: 50px;
        padding: 1rem;
    }

    .caja-banner {
        grid-area: 1 / 3 / span 3 / span 1;
        /* border:rgb(211, 22, 22) solid; */
        /* background-color: rgb(232, 217, 217); */
        background-color: #e3d5ca;
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-size: cover;
        /* background-position: center center; */
        /* font-size: 1.1rem; */
        display: block;

    }
}